<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2>Исправьте ошибки:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Имя' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Телефон" %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="actions">
    <%= f.submit "Заказать" %>
  </div>
<% end %>
