<p id="notice"><%= notice %></p>

<h1>Listing Orders</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Телефон</th>
      <th>email</th>
      <th>Добавлен</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.phone %></td>
        <td><%= order.email %></td>
        <td><%= to_time(order.created_at) %></td>
        <td>
          <%= link_to 'Показать', order %>
          <%= link_to 'изменить', edit_order_path(order) %>
          <%= link_to 'Удалить', order, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
