<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
    <% unless @product.image_url? %>
    <div class="field">
      <%= f.label :image_url %><br>
      <%= f.file_field :image_url %>
    </div>
  <% else %>  
    <div>
      <%= image_tag @product.image_url %>
      <label>
        <%= f.check_box :remove_image_url %>
        Remove image_url
      </label>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label "Категория" %>
    <%= f.select :category, Product::CATEGORIES %>
  </div>
  <div class="field">
    <%= f.label "Опубликовано?" %><br>
    <%= f.check_box :is_public %>
  </div>
  <div class="field">
    <%= f.label "Новинка?" %><br>
    <%= f.check_box :is_new %>
  </div>
  <div class="field">
    <%= f.label "Супер цена?" %><br>
    <%= f.check_box :is_sale %>
  </div>
  <div class="field">
    <%= f.label "Хит продаж?" %><br>
    <%= f.check_box :is_hot %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
