<div class="owl-carousel">
    <% @sliders.each do |slide| %>
        <div class='slide'>
            <%= image_tag(slide.image_url) %>
        </div>
    <% end %>
</div>
<div id="catalog">    
 
    <h2 id="menu-with-bg">Меню</h2>
    <div class="inner wrapper">
        <a name="first" id="first"></a>
        <div class="row">
            <%= render partial: "product", collection: @first_courses, as: :product %>
        </div>
        <a name="second" id="second"></a>
        <div class="row">
            <%= render partial: "product", collection: @second_courses, as: :product %>
        </div>
        <a name="third" id="third"></a>
        <div class="row">
            <%= render partial: "product", collection: @rolls_sets, as: :product %>
        </div>
        <a name="fourth" id="fourth"></a>
        <div class="row">
            <%= render partial: "product", collection: @garnish, as: :product %>
        </div>
        <a name="five" id="five"></a>
        <div class="row">
            <%= render partial: "product", collection: @drinks, as: :product %>
        </div>
    </div>
</div>


<div id="reviews">
    <div class="wrapper">
        <h2>Отзывы</h2>
        <% if @reviews.count > 0 %>
            <% @reviews.each do |review| %>
                <div class="review">
                    <span class="name"><%= review.name %></span>
                    <span class="company"><%= review.company_name %></span>
                    <p><%= review.description %></p>
                    <%= to_time(review.created_at) %>
                </div>
            <% end %>
        <% else %>
            <p>Отзывы отсутсвуют</p>
        <% end %>   
        <div id="keywords" class="wrapper">
            <p>Круглосуточная <strong>доставка еды на дом в Усть-Каменогорске</strong>! Доставка суши, роллов, шашлыка. Быстро и без проблем доставим обед домой и в офис. Огромный выбор и доставка необычной еды. <strong>Заказ еды</strong>, не выходя из дома. В ассортименте - <strong>Японская кухня</strong>. Доставка блюд в кротчайшие сроки. Мы можем сделать суши лучше других. Заказать роллы не составит у вас никаких проблем, ведь у нас <strong>лучшие роллы в Усть-Каменогорске</strong>! Даже ребенку под силу заказать еду на дом! Попробовав, вам несомненно захочется узнать именно наш рецепт суши. Приехав из другого города, вы захотите вернуться в Усть-Каменогорск, чтобы еще раз попробовать блюда «Экспресс-Кухни».</p>
        </div>
    </div>
</div>
