<div class="owl-carousel">
    <% @sliders.each do |slide| %>
        <div class='slide'>
            <%= image_tag(slide.image_url) %>
        </div>
    <% end %>
</div>
<div id="catalog">    
 
    <h2 id="menu-with-bg">Меню</h2>
    <div class="inner wrapper">
        
        <div class="row">
            <a name="first" id="first"></a>
            <%= render partial: "product", collection: @first_courses, as: :product %>
        </div>
        
        <div class="row">
            <a name="second" id="second"></a>
            <%= render partial: "product", collection: @second_courses, as: :product %>
        </div>
        <a name="third" id="third"></a>
        <div class="row">
            <%= render partial: "product", collection: @rolls_sets, as: :product %>
        </div>
        <a name="fourth" id="fourth"></a>
        <div class="row">
            <%= render partial: "product", collection: @garnish, as: :product %>
        </div>
        <a name="five" id="five"></a>
        <div class="row">
            <%= render partial: "product", collection: @drinks, as: :product %>
        </div>
    </div>
</div>


<div id="reviews">
    <div class="wrapper">
        <h2>Отзывы</h2>
            <div class="gallery">
            <% if @reviews.count > 0 %>
                <% @reviews.each do |review| %>
                    <div class="review">
                        <span class="name"><%= review.name %></span>
                        <span class="company"><%= review.company_name %></span>
                        <p><%= review.description %></p>
                        <%= to_time(review.created_at) %>
                    </div>
                <% end %>
            <% else %>
                <p>Отзывы отсутсвуют</p>
            <% end %>         
        </div>
    </div>
    <div id="keywords" class="wrapper">
        <p><strong>Доставка еды в Усть-Каменогорске</strong>! Доставка <strong>суши, роллов, шашлыка</strong>. Быстро и без проблем <strong>доставим обед домой и в офис</strong>. В ассортименте - Японская кухня. У нас лучшие <strong>роллы в Усть-Каменогорске</strong>! Попробовав, вам несомненно захочется узнать именно наш рецепт суши. </p>
    </div>
</div>
