<!DOCTYPE html>
<html>
<head>
  <title>Экспресс Кухня - Доставка еды в Усть-Каменогорске, суши, роллы, горячие блюда</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Ubuntu&subset=latin,cyrillic' %>
  <%= csrf_meta_tags %>
  <meta name="Keywords" content="доставка еды в Усть-Каменогорске, доставка суши, доставка роллов, доставка шашлыка, доставка еды, горячие блюда, горячие блюда в Усть-Каменогорске">
  <meta name="Description" content="Доставка еды в Усть-Каменогорске! Доставка суши, роллов, шашлыка. Быстро и без проблем доставим обед домой и в офис. В ассортименте - Японская кухня. У нас лучшие роллы в Усть-Каменогорске! Попробовав, вам несомненно захочется узнать именно наш рецепт суши.">
</head>
<body>
  <header>
    <div class="wrapper">
      <div id="ship-col" class="col1">
        <div class="inner">
          <%= link_to 'Доставка', shipping_path %>
        </div>
      </div>
      <div id="slogan-col" class="col2">
        <div class="inner">
          <h1>У голода нет шансов!</h1>
        </div>
      </div>
      <div id="logo-col" class="col3">
        <a id="logo" href="/"><%= image_tag 'logo.png' %></a>
      </div>
      <div id="order-now-col" class="col4">
        <div class="inner">
          <%= render 'layouts/order_now' %>
        </div>
      </div>
      <div id="cart-col" class="col5">
        <a id="show-cart">
          <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>             
            <%= render partial: 'carts/cart', locals: { cart: @cart } %>
          <% end %>
        <span class="cart-text">Корзина</span></a>
        
        
      </div>
      <div id="social-col" class="col6">
        <%= render 'layouts/social' %>
      </div>

    </div>
    <div id="menu">
      <ul>
        <li><%= link_to 'Суши/роллы', store_path(anchor: 'first'), id: 'firstAnchor' %><</li>
        <li><%= link_to 'Первые блюда', store_path(anchor: 'second'), id: 'secondAnchor' %></li>
        <li><%= link_to 'Вторые блюда', store_path(anchor: 'third'), id: 'thirdAnchor' %></li>        
        <li><%= link_to 'Закуски/салаты', store_path(anchor: 'fourth'), id: 'fourthAnchor' %></li>
        <li><%= link_to 'Напитки', store_path(anchor: 'five'), id: 'fiveAnchor' %></li>
        <li><%= link_to 'Акции', list_sales_path %></li>
        <li><%= link_to 'О компании', about_path %></li>
        <li><%= link_to 'Правила', rules_path %></li>
      </ul>
    </div>
  </header>
  

  <% unless notice.nil? or alert.nil? %>
    <div id="messages">
    <% if notice %>
          <p class="notice"><%= notice %></p>
          
    <% end %>
    <% if alert %>
          
          <p class="alert"><%= alert %></p>
    <% end %>
    </div>
  <% end %>
