<!DOCTYPE html>
<html>
<head>
  <title>KitchenApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Ubuntu&subset=latin,cyrillic' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="wrapper">
      <div class="phones">
        <div class="inner">
          <%= render 'layouts/order_now' %>
        </div>
        
      </div>
      <div class="logo"><a id="logo" href="/"><%= image_tag 'logo.png' %></a></div>
      <div class="social">
        <div class="inner">
          <%= render 'layouts/social' %>
          <h1>Еда за 45 минут, или <br> мы вернем Вам деньги</h1>

        </div>
      </div>
    </div>
  </header>
  <div id="menu">
    <div class="wrapper">
      <ul>
        <li><%= link_to 'Доставка', shipping_path %></li>
        <li><%= link_to 'Первые блюда', store_path(anchor: 'first') %></li>
        <li><%= link_to 'Вторые блюда', store_path(anchor: 'second') %></li>
        <li><%= link_to 'Роллы/сеты', store_path(anchor: 'third') %><</li>
        <li><%= link_to 'Гарниры', store_path(anchor: 'fourth') %></li>
        <li><%= link_to 'Напитки', store_path(anchor: 'five') %></li>
        <li><%= link_to 'Акции', list_sales_path %></li>
        <li><%= link_to 'О кухне', about_path %></li>
        <li><a id="show-cart">
          <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>             
            <%= render partial: 'carts/cart', locals: { cart: @cart } %>
          <% end %>
        <span class="cart-text">Корзина</span></a>
        
        </li>
      </ul>
    </div>
  </div>

  <% unless notice.nil? or alert.nil? %>
    <div id="messages">
    <% if notice %>
          <p class="notice"><%= notice %></p>
          
    <% end %>
    <% if alert %>
          
          <p class="alert"><%= alert %></p>
    <% end %>
    </div>
  <% end %>
