<!DOCTYPE html>
<html>
<head>
  <title>KitchenApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Ubuntu&subset=latin,cyrillic' %>
  <%= csrf_meta_tags %>
</head>
<body class="admin">
	 
	  <%= render 'layouts/admin_logging' %>


  <div class="content">
    <%= yield %>
  </div>  
</body>
</html>