<!DOCTYPE html>
<html>
<head>
  <title>KitchenApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Ubuntu&subset=latin,cyrillic' %>
  <%= csrf_meta_tags %>
</head>
<body class="admin">
	<nav>
		<%= render 'layouts/admin_logging' %>

		<%= link_to "Продукты", products_path %>
		<%= link_to "Заказы", orders_path %>
    <%= link_to "Пользователи", users_path %>
    <%= link_to "Слайдер", sliders_path %>
	</nav>
	
    <div class="wrapper">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>    
    </div>
  </div>
  <%= yield %>
</body>
</html>